.Center {
  .BackgroundDisplay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #76535389), url(x.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }
  }